/*Role Models*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*
    Letra:
    font-family: 'Coustard', serif;
    font-family: 'Lora', serif;
    /*/
}

body{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='359' height='43.1' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23555555' stroke-width='11.4' stroke-opacity='0.11'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.contenedor{
    background-color: rgba(128, 128, 128, 0.52);
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vh;
    width: 90vw;
    height: 100%;
    font-family: 'Coustard', serif;
}

.tituloPrincipal{
    text-align: center;
    background-color: orange;
    border:4px solid black;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    padding:2vh;
    width: 80vw;
    height: 10vh;
    overflow: hidden;
}

.tituloSecundario{
    color:purple;
    background-color: black;
    border:4px solid purple;
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    padding:1vh;
    width: 80vw;
    height: 8vh;
    overflow: hidden;
}


.cajita1,.cajita2,.cajita3,.cajita4,.cajita5{
    background-color: #F38DEA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F38DEA'/%3E%3Cstop offset='1' stop-color='%23BE84B1'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F38DEA'/%3E%3Cstop offset='1' stop-color='%237E4D72'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment:local;
    background-size:cover;
    background-image: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    width: 25vw;
    float: left;
    border: 2px solid black;
    padding: 1vw 1vh;
    overflow: hidden;
    margin-bottom: 3vh;
}

.cajita1{
    margin-left: 6.3vw;
}
.cajita2,.cajita3,.cajita5{
    margin-left:1.5vh;
}
.cajita4{
    margin-left: 20vw;
}


.cajita1 img,.cajita2 img,.cajita3 img,.cajita4 img,.cajita5 img{
    width: 150px;
    height: 150px;
    display: block;
    float: left;
}

.cajita1 span,.cajita2 span,.cajita3 span,.cajita4 span,.cajita5 span{
    color: darkred;
    font-style: italic;
}

.tituloTerciario{
    color:white;
    background-color: black;
    border:4px solid blue;
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    padding:1vh;
    width: 80vw;
    height: 8vh;
    float: left;
    overflow: hidden;
}

.cajon1,.cajon2,.cajon3,.cajon4{
    font-family: 'Lora', serif;
    color:purple;
    width: 18vw;
    float:left;
    margin-bottom: 4vh;
    border: 2px solid purple;
    padding: 1vw 1vh;
    overflow: hidden;
    float: left;
    background: linear-gradient(to bottom, purple 0%,white 20%, white 100%);
    background-repeat: no-repeat;
    text-align: justify;
    margin-bottom: 5vh;
}

.cajon1{
    margin-left: 6.3vw;
}
.cajon2,.cajon3,.cajon4{
    margin-left: 2vw;
}

.cajon1 h4,.cajon2 h4,.cajon3 h4,.cajon4 h4{
    font-family: 'Coustard', serif;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.cajon1 img,.cajon2 img,.cajon3 img,.cajon4 img{
    width: 130px;
    height: 130px;
    display: block;
    margin:auto;

}

.ultimoCajon1,.ultimoCajon2,.ultimoCajon3,.ultimoCajon4{
    font-family: 'Lora', serif;
    background-color:black;
    color: #cd5c5c;
    width: 20vw;
    float:left;
    margin-bottom: 4vh;
    border: 3px solid firebrick;
    overflow: hidden;
    text-align:justify;
    font-weight: bold;
}

.ultimoCajon1{
    margin-left: 2vw;
}
.ultimoCajon2,.ultimoCajon3,.ultimoCajon4{
    margin-left: 1vw;
}

.ultimoCajon1 h4,.ultimoCajon2 h4,.ultimoCajon3 h4,.ultimoCajon4 h4{
    font-family: 'Coustard', serif;
    color:firebrick;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    margin-top: 1vh;

}

.ultimoCajon1 img,.ultimoCajon2 img,.ultimoCajon3 img,.ultimoCajon4 img{
    width: 75px;
    height: 85px;
    float: right;
    margin-top: 1vh;
    
}

.dentroUltimo{
    background-color: indianred;
    height: 120px;
    margin: 0;
    padding:0.5vw 0.5vh;
    border-bottom: 3px solid firebrick;
}

.ultimoCajon1 p,.ultimoCajon2 p,.ultimoCajon3 p,.ultimoCajon4 p{
    padding: 1vw 1vh;
}

.separador{
    clear: both;
}

footer{
    font-family: 'Lora', serif;
    clear: both;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}