/*CSS: Carta de restaurante*/

*{
    box-sizing: border-box;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    scroll-behavior: smooth;
}

body {
    background-color: #CBA7FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23CBA7FF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23c3a3fb' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bc9ff6' cx='50' cy='100' r='50'/%3E%3Cg fill='%23b49bf2' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ad98ee' cx='50' cy='200' r='50'/%3E%3Cg fill='%23a594e9' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239e90e5' cx='50' cy='300' r='50'/%3E%3Cg fill='%23968ce0' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%238f88dc' cx='50' cy='400' r='50'/%3E%3Cg fill='%238785d7' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238081d3' cx='50' cy='500' r='50'/%3E%3Cg fill='%23787dce' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237079ca' cx='50' cy='600' r='50'/%3E%3Cg fill='%236976c5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%236172c0' cx='50' cy='700' r='50'/%3E%3Cg fill='%23596ebc' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23516bb7' cx='50' cy='800' r='50'/%3E%3Cg fill='%234967b2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%234063ae' cx='50' cy='900' r='50'/%3E%3Cg fill='%233760a9' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%232D5CA4' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.bar{
    text-align: center;
    background-image: url(../img/pecera.jpg);
    border-radius: 20px;
    box-shadow:0px 0px 9px purple;
    width:auto;
    height:auto;
    background-size: 100% 100%;
    background-size: cover;

}

header{
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    
}

.titulo{
    text-align: center;
    color: whitesmoke;
    text-shadow:0px 0px 10px black;
    
}

.pecera{
    padding: 0;
    margin: 0;
}

.pescaito{
    padding: 0%;
    margin: 0%;
    width: 10vw;
    text-align: center;
    animation-name: pescaito;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
    animation-direction:normal;
    animation-fill-mode:forwards;
}

@keyframes pescaito{

    20%{
        transform: translateX(calc(-30vw));

    }
    50%{
        transform: rotateY(180deg) translateX(calc(-30vw));
    }

    80%{
        transform: translateX(calc(30vw))
    }
    
}

.catalogo{
    text-align: center;
    color: whitesmoke;
    text-shadow:0px 0px 10px black;
    margin-top: 20px;
    padding: 0;
}

.menu{
    margin-top: 10px;
    border-radius: 50px;
    
}

.navegador td{
    padding: 5px;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 2.5vw;
    color: whitesmoke;
    text-shadow:0px 0px 5px black;
    margin: 0;
    padding: 0;
    
}

.platos{
    width: 200px;
    height: 150px;
    border-radius:100px;
    box-shadow: 0px 0px 15px black;
    margin-bottom: 20px;
    padding: 0;
}

.imagencarta{
    transition: imagen, 2s ease;
    width:170px;
    height: 140px;
    border-radius: 50px;
    transition: imagen, 2s ease;
    opacity: 100%;
    padding: 0;
    margin: 0;
}
.imagencarta:hover{
    transition: imagen, 3s ease;
    opacity: 30%;
    padding: 0;
    margin: 0;
}

.textocentrado{
    position: absolute;
    display: block;
    float: left;
    transform: translate(-50%, -50%);

}

hr{
    color: black;
}

h1{
    font-size: 6vw;
    font-weight: bolder;
    text-shadow:0px 0px 2px blue;
    padding: 0%;
    margin: 0%;
}

h2{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 3vw;
    font-weight:bolder;
    color: whitesmoke;
    text-shadow:0px 0px 10px black;
    margin-left: 25px;
    margin-bottom: 5px;
}

.productos{
    background-color: rgba(255, 255, 255, 0.315);
    opacity: 100%;
    border-radius: 3vw;
    transition: table, 3s ease;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}

table{
    width: 94%;
}

.alerg{
    width: 4.5vw;
    height: 6.5vw;
    padding: 0;
    margin: 0;
}

.imagen{
    transition: transform, 2s ease;
    opacity: 30%;
    text-align: right;
    width: 96%;
    padding: 0;
    margin: 0;
    
}

.imagen:hover{
    transition: transform, 2s ease;
    opacity: 100%;
    font-size: 2vw;
    padding: 0;
    margin: 0;
}

.pedido{
    color:black;
    font-size: 2.5vw;
    text-shadow: 0px 0px 1.2px blue;
    transition: transform, 2s ease;
    width: 60%;
    line-height: 50px;
}

.pedido:hover{
    transition: transform, 2s ease;
    opacity: 100%;
    font-size: 2.8vw;
 
}

.precio{
    font-size: 2.5vw;
    text-align:right;
    font-weight: bolder;
    text-shadow:0px 0px 1px blue;
    transition: transform, 2s ease;
}
.precio:hover{
    transition: transform, 2s ease;
    opacity: 100%;
    font-size: 2.8vw;
}

footer{
    text-align: center;
    padding: 0;
    margin: 0;
}

.alergenos{
    text-align: center;
    width: 70vw;
    height: auto;
    padding: 0;
    margin: 0;
}
.fondo{
    margin-left: 5vw;
    padding:auto;
}
.volver *{
    text-align: center;
    background-color: rgba(255, 235, 205, 0.363);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px black;
}